{% extends "nav.html" %}
{% block head %} 
    <link rel="stylesheet" href="{{url_for('static', filename='form.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="head">
            <h2>Application for Provisonal Certificate</h2>
        </div>
        <form action="">
            <fieldset>
                <legend><img src="{{url_for('static', filename='cuet-logo.jpg') }}" alt=""></legend>
                <h3>Application for Provisonal Certificate</h3>

                    <div class="checkbox">
                        <div><input type="radio" id="bsc" name="degree" value="bsc" checked>
                            <label for="bsc">B.Sc Engg</label>
                        </div>
                        <div><input type="radio" id="msc" name="degree" value="msc">
                            <label for="msc">M.Sc Engg</label>
                        </div>
                        <div><input type="radio" id="phd" name="degree" value="phd">
                            <label for="phd">PhD</label>
                        </div>
                    </div>

                <div class="row">
                    <label for="username">1. Name of Student: </label><br>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="row">
                    <label for="father">2. Father's Name: </label><br>
                    <input type="text" id="father" name="father" required>
                </div>  
                <div class="row">
                    <label for="address">3. Permanent Address: </label><br>
                    <input type="text" id="address" name="address" required>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="col1">
                            <label for="id">4. Student ID: </label><br>
                            <input type="number" id="id" name="id" required>
                        </div>
                        <div class="col1">
                            <label for="sessions">5. Session: </label><br>
                            <input type="text" id="sessions" name="sessions" required>
                        </div>
                        <div class="col1">
                            <label for="dept">6. Name of Department: </label><br>
                            <input type="text" id="dept" name="dept" required>
                        </div>
                        <div class="col1">
                            <label for="cgpa">7. Average Grade Point: </label><br>
                            <input type="number" id="cgpa" name="cgpa" required>
                        </div>
                        <div class="col1">
                            <label for="result_date">8. Date of Result: </label><br>
                            <input type="month" id="result_date" name="result_date" required>
                        </div>
                        <div class="col1">
                            <label for="last_examination_date">9. Date of Last examination: </label><br>
                            <input type="month" id="last_examination_date" name="last_examination_date" required><br><br>
                        </div>
                    </div>
                </div>
                <div class="checkbox">
                    <label class="payment">Payment Method:</label>
                    <div><input type="radio" id="bkash" name="payment" value="bsc" checked>
                        <label for="bkash">bKash</label>
                    </div>
                    <div><input type="radio" id="nagad" name="payment" value="nagad">
                        <label for="nagad">Nagad</label>
                    </div>
                </div>
                <div class="row">
                    <label for="trx">10. Transaction ID: </label><br>
                    <input type="text" id="trx" name="trx" required>
                </div>
                <div>
                    <input type="submit" class="button" value="Submit"><br>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}